version: 2.1
executors:
  js:
    docker:
      - image: circleci/node:12.13.1
    working_directory: ~/expo-project
    environment:
      YARN_CACHE_FOLDER: ~/yarn_cache
commands:
  add_yarn_binaries_to_path:
    steps:
      - run:
          name: Add yarn binaries path to $PATH
          command: echo 'export PATH=~/.yarn/bin:$PATH' >> $BASH_ENV
  restore_yarn_cache:
    parameters:
      platform:
        type: string
    steps:
      - restore_cache:
          keys:
            - cache-yarn-<< parameters.platform >>-{{ checksum "package.json" }}
  save_yarn_cache:
    parameters:
      platform:
        type: string
    steps:
      - save_cache:
          paths:
            - ~/yarn_cache
          key: cache-yarn-<< parameters.platform >>-{{ checksum "package.json" }}
jobs:
  publish_app:
    executor: js
    steps:
      - checkout
      - restore_yarn_cache:
          platform: linux
      - run:
          name: Installing expo-cli
          command: yarn global add expo-cli
      - run: yarn
      - save_yarn_cache:
          platform: linux
      - add_yarn_binaries_to_path
      - run:
          name: Publishing Expo app
          command: |
            expo login -u $EXPO_USERNAME -p $EXPO_PASSWORD --non-interactive
            expo publish
  build_android_aab:
    executor: js
    steps:
      - checkout
      - restore_yarn_cache:
          platform: linux
      - run:
          name: Installing expo-cli
          command: yarn global add expo-cli
      - run: yarn
      - save_yarn_cache:
          platform: linux
      - add_yarn_binaries_to_path
      - run:
          name: Building Expo standalone app
          command: |
            expo login -u $EXPO_USERNAME -p $EXPO_PASSWORD --non-interactive
            expo build:android -t app-bundle
workflows:
  version: 2
  builds:
    jobs:
      - publish_app:
          filters:
            branches:
              only: master
      - build_android_aab:
          filters:
            branches:
              only: master
